# Data Types and Structures Assignment

Theoretical questions

1. What are data structures, and why are they important?
- Data structures are ways to organize and store data efficiently. They are important because they enable efficient data access, modification, and storage.
2. Explain the difference between mutable and immutable data types with examples.
- Mutable types can be modified after creation (e.g., lists, dictionaries), while immutable types cannot be modified (e.g., tuples, strings).
3. What are the main differences between lists and tuples in Python?
- Lists are mutable while tuples are immutable.
4. Describe how dictionaries store data.
- Dictionary store data as key-value pair.Here, key is unique but value does not.
5. Why might you use a set instead of a list in Python?
- Sets automatically removes the duplicate values.
6.  What is a string in Python, and how is it different from a list?
- A string is an immutable sequence of characters, whereas a list is mutable and can contain different types of elements.
7.  How do tuples ensure data integrity in Python?
- Tuples are immutable, their data cannot be modified.
8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table stores key-value pairs and is used to implement Python dictionaries for fast lookups.
9. Can lists contain different data types in Python?
- Yes, lists contain different data types in python.
10. Explain why strings are immutable in Python.
- Strings are immutable to optimize memory usage and ensure security.
11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries provide faster lookups by using keys instead of searching through an index. They also allow flexible and structured data storage, making them more efficient for large datasets where key-value associations are needed.
12. Describe a scenario where using a tuple would be preferable over a list.
- Tuples are preferable when storing fixed data that should not be modified. For example, storing geographic coordinates (latitude, longitude).
13.  How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values. When elements are added to a set, Python ensures that only unique values are stored.
14.  How does the “in” keyword work differently for lists and dictionaries?
- In lists, the "in" keyword checks if a value exists by iterating through all elements. In dictionaries, it checks for the presence of a key, which is much faster due to hash-based lookups.
15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple because tuples are immutable.
16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary within another dictionary. It is useful for organizing complex data structures, such as storing student records where each student has their own dictionary of details.
-Example:
student_data = {

    "student1": {"name": "Alice", "age": 20, "grades": [90, 85, 88]},

    "student2": {"name": "Bob", "age": 22, "grades": [78, 82, 80]}
}
  
    print(student_data["student1"]["name"])
17.  Describe the time complexity of accessing elements in a dictionary.
- Accessing an element in a dictionary has an average time complexity of O(1) due to hash table lookups.
18. In what situations are lists preferred over dictionaries.
- Lists are preferred when maintaining an ordered collection of items, iterating through data sequentially, or when keys are unnecessary. Lists also consume less memory compared to dictionaries when storing large amounts of simple data.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary considered as unordered because retrieval is based on key hashes rather than sequential indexes. This affects data retrieval as elements are accessed using keys rather than positions, making lookups faster but unsuitable for ordered operations like slicing.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Lists retrieve elements by index. Dictionaries retrieve values using keys, making them more efficient for fast lookups and large datasets.

Practical Questions

In [1]:
# 1.Write a code to create a string with your name and print it.
name="Abhishek"
name

'Abhishek'

In [2]:
# 2.Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [13]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming".
print("Python programming"[:3])

Pyt

In [5]:
# 4.Write a code to convert the string "hello" to uppercase.
n="hello"
print(n.upper())

HELLO

In [6]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
a="I like apple"
print(a.replace("apple","orange"))

I like orange

In [7]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [9]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4].
lis=[1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [10]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lis=[1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [11]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lis=['a','b','c','d']
print(lis[1])

b

In [12]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
lis=[10,20,30,40,50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [14]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
tup

(100, 200, 300)

In [15]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup=('red','green','blue','yellow')
print(tup[-2])

blue

In [17]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup=(10,20,5,15)
print(min(tup))

5

In [18]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=('dog','cat','rabbit')
tup.index("cat")

1

In [19]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit=('apple','banana','mango','kiwi')
('kiwi' in fruit)

True

In [20]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
s

{'a', 'b', 'c'}

In [21]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
s.clear()
s

set()

In [22]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [24]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [25]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
a.intersection(b)

{2, 3}

In [26]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dict={'name':'Abhi','age':20,'city':'delhi'}
dict

{'name': 'Abhi', 'age': 20, 'city': 'delhi'}

In [27]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name': 'John', 'age': 25}
dict['country']='USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# 23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic={'name':'Alice','age':30}
print(dic['name'])

Alice

In [29]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic={'name':'Bob','age':22,'city':'New York'}
del dic['age']
print(dic)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic={'name':'Alice','city':'Paris'}
if 'city' in dic:
    print('city exists')

city exists

In [31]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all.
lis=[1,2,3]
tup=(2,3,4)
dic={'a':5,'b':6}
print(lis,tup,dic)

[1, 2, 3] (2, 3, 4) {'a': 5, 'b': 6}

In [33]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
lis=[55,78,12,45,6]
lis.sort()
lis

[6, 12, 45, 55, 78]

In [34]:
# 28.Write a code to create a list with strings and print the element at the third index.
lis=['abhi','bhav','tarun','alice']
print(lis[3])

alice

In [35]:
# 29.Write a code to combine two dictionaries into one and print the result.
dic1={'a':1,'b':2}
dic2={'c':3,'d':4}
dic1.update(dic2)
print(dic1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
# 30.Write a code to convert a list of strings into a set.
lis=[1,34,2,3,2,3]
set(lis)

{1, 2, 3, 34}